<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="dropmenu_ref.css">

    <title>test dropdown-menu, refactored</title>
</head>

<body>

    <section class="dropmenu-ref">
        <div class="menuen">
            <span>menu</span>
            <ul class="listen">
                <li>index</li>
                <li>artikel</li>
                <li>portræt</li>
                <li>RTS</li>
            </ul>
        </div>
    </section>

</body>

</html>