<!-- ============ html-template for søgefelt ====================== -->
<!-- ========= husk at ændre 'class' og 'id'-navne, så de passer med din kontekst ========== -->

<!DOCTYPE html>
<html lang="da">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="search_tmpl.css">


    <title>Document</title>
</head>

<body>
    <div>
        <form class="form-container" action="">
            <img class="hero-lup" src="lup.svg" alt="Klik og søg">
            <input type="search" name="search" id="hero-search">
        </form>
    </div>
</body>

</html>