
/* =================== dropdown-menu ========================= */
/* ====== frit efter lee warrick, https://leewarrick.com/blog/css-only-menus/ ================= */


.dropmenu-ref * {
    font-family: sans-serif;
    font-size: 0.9rem;
    color: white;
    text-decoration: none;

    padding: 0;
    margin: 0;

}

.dropmenu-ref {
    margin: 0; 
    display: flex;
    
}

.menuen {
    margin: 0 auto;
    top: 10px;
    position: relative;
    padding: 10px; 
}

.menuen:hover{
    cursor: pointer;
}

.listen {
    background-color: #5d4646;
    border-radius: 15px;
    list-style: none;
}

.listen li{
    margin: 20px;
}

.menuen .listen {
    display: none;
    position: absolute;
    width: 150px;
    top: 35px;
    right: 0;
    z-index: 20;
}

.menuen:hover .listen {
    display: block;
}

/* ======== flatline-menu ==================== */

.flatline-menu{
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: 100;
    color: white;
    text-decoration: none;
    margin-right: 24px;
}

.flatline-menu a{
    color: white;
    text-decoration: none;

    margin: 0 36px 0 0;
}





/* =========================================== */
/*  @media queries */

@media (min-width: 1024px){
    .dropmenu-ref{
        display: none;
    }

    .flatline-menu{
        display: block;
    }
}

@media (max-width: 699px){
    .dropmenu-ref{
        display: block;
    }

    .flatline-menu{
        display: none;
    }

}

