/* ===================== dinuddannelse.dk ============ */
/* ===================== css for global header  =========== */

.global-header {
    background-color: #C40000;
    width: 100%;
    margin:0 auto;
    padding: 12px 0px 11px 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items:flex-end;
}

.global-header-img {
    width: 40%;
    height:40%;
    padding-left: 24px;
}


/* @media queries ================================ */



@media (min-width: 1025px){

    .global-header{
        width: 1024px;
        height: 80px;
    }

    .global-header-img {
        width: 180px;
        height: 48px;
        padding-left: 24px;
    }
    
}

