<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="tmpl_css/global_settings.css">
    <link rel="stylesheet" href="tmpl_css/tmpl_article_1.css">
    <title>Document</title>
</head>

<body class="global-settings">
    <section class="article-default">
        <div class="article-default-img-top"></div>
        <h1 class="article-default-header1">
            <p>Langt langt væk, bag ordets høje bjerge...</p>
        </h1>
        <h2 class="article-default-header2 p">
            <p>Excepteur sint occaecat cupidatat non proident,
                sunt in culpa qui officia deserunt. </p>
        </h2>
        <article class="article-default-copy1">
            <p>Lorem ipsum dolor sit amet, etiam leo praesent sed in, tortor maecenas ut suspendisse conubia suscipit,
                suspendisse id odio porttitor ut nulla. Quis luctus id elit maecenas, est suspendisse id, vitae nulla
                vestibulum mattis, nibh nibh varius, id et leo. Justo accumsan molestie ac lorem. Elementum accumsan
                purus, integer pellentesque integer fuga quisquam, fusce et, aenean dui purus est, enim fringilla. Nec
                tempus id nulla vel. Pede quis sociosqu, dui ut, ac dui ligula, pulvinar a ante purus vestibulum eros
                semper. Arcu vehicula feugiat pulvinar. </p>
        </article>
        <figure class="article-default-img-inline">
            <img src="tmpl_img/udd3.jpg" alt="">
        </figure>
        <article class="article-default-copy2">
            <p>Justo pede nunc molestie varius wisi, ut in, imperdiet eleifend aliquam malesuada ad at, purus mauris
                ridiculus vitae et felis felis, vestibulum urna. Lorem natoque per arcu erat. Quam morbi risus,
                reprehenderit aenean amet enim ut, duis eget suscipit quam, nec ipsum, curabitur sociis suspendisse
                lacus. Morbi quis integer, vestibulum faucibus mauris lacus cursus nam vitae. Wisi commodo gravida
                penatibus pede, fermentum non tincidunt a ultrices. Congue vel in erat velit donec augue, molestie nec
                imperdiet sociosqu vel vivamus, ex similique mi id lectus. At nam at, vel tortor sapien adipiscing.
                Dictum commodo ullamcorper, netus dui. A enim pellentesque molestiae egestas wisi, veritatis morbi
                feugiat a ridiculus.<br><br>

                Blandit felis mattis vestibulum rutrum. Sollicitudin pede arcu arcu quam, metus ligula, sit purus velit
                blandit mi etiam. Quis semper gravida scelerisque dictum quis placerat. Egestas mollis blandit et,
                lacinia rutrum tristique elit. Mi vulputate maecenas urna massa dolor in. Turpis tellus aenean porttitor
                suscipit quam, adipiscing tortor auctor ac. Purus erat etiam venenatis, dolor aliquam venenatis et id,
                fames praesent nulla pede, pellentesque nonummy. Non accusantium et commodo nec fusce tincidunt, lectus
                ad sit, mi sed dictumst lectus nulla viverra vel. Ut platea condimentum per consectetuer in tempus, sit
                amet justo sed blandit, lectus vitae aliquam dapibus. Urna rutrum porttitor ac. Vitae fusce et vivamus,
                urna arcu magnis adipiscing sociis in eget, vestibulum accusantium consequat odio, imperdiet nulla massa
                morbi, pellentesque nonummy.</p>
        </article>
    </section>
</body>

</html>