<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="tmpl_css/global_settings.css">
    <link rel="stylesheet" href="tmpl_css/tmpl_article_3.css">

    <title>Document</title>
</head>

<body class="global-settings">
    <section class="article-detail">
        <div class="article-detail-img-top"></div>
        <h1 class="article-detail-header">
            <p>Roskilde Tekniske Skole</p>
        </h1>
        <article class="article-detail-copy">
            <p>
                Lorem ipsum dolor sit amet, etiam leo praesent sed in, tortor maecenas ut suspendisse conubia suscipit,
                suspendisse id odio porttitor ut nulla. Quis luctus id elit maecenas, est suspendisse id, vitae nulla
                vestibulum mattis, nibh nibh varius, id et leo. Justo accumsan molestie ac lorem. Elementum accumsan
                purus, integer pellentesque integer fuga quisquam, fusce et, aenean dui purus est, enim fringilla. Nec
                tempus id nulla vel. Pede quis sociosqu, dui ut, ac dui ligula, pulvinar a ante purus vestibulum eros
                semper. Arcu vehicula feugiat pulvinar.<br><br>

                Justo pede nunc molestie varius wisi, ut in, imperdiet eleifend aliquam malesuada ad at, purus mauris
                ridiculus vitae et felis felis, vestibulum urna. Lorem natoque per arcu erat. Quam morbi risus,
                reprehenderit aenean amet enim ut, duis eget suscipit quam, nec ipsum, curabitur sociis suspendisse
                lacus. Morbi quis integer, vestibulum faucibus mauris lacus cursus nam vitae. Wisi commodo gravida
                penatibus pede, fermentum non tincidunt a ultrices. Congue vel in erat velit donec augue, molestie nec
                imperdiet sociosqu vel vivamus, ex similique mi id lectus. At nam at, vel tortor sapien adipiscing.
                Dictum commodo ullamcorper, netus dui. A enim pellentesque molestiae egestas wisi, veritatis morbi
                feugiat a ridiculus.
            </p>
        </article>
    </section>


</body>

</html>