<!DOCTYPE html>
<html6 lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="tmpl_css/global_settings.css">
        <link rel="stylesheet" href="tmpl_css/tmpl_article_2.css">
        <title>Document</title>
    </head>

    <body class="global-settings">
        <section class="article-portrait">
            <div class="article-portrait-img-top"></div>
            <h1 class="article-portrait-header">
                <p>Roskilde Tekniske Skole - 34 ungdomsuddannelser</p>
            </h1>
            <article class="article-portrait-copy">
                <p>Lorem ipsum dolor sit amet, etiam leo praesent sed in, tortor maecenas ut suspendisse conubia
                    suscipit,
                    suspendisse id odio porttitor ut nulla. Quis luctus id elit maecenas, est suspendisse id, vitae
                    nulla
                    vestibulum mattis, nibh nibh varius, id et leo. Justo accumsan molestie ac lorem. Elementum accumsan
                    purus, integer pellentesque integer fuga quisquam, fusce et, aenean dui purus est, enim fringilla.
                    Nec
                    tempus id nulla vel. Pede quis sociosqu, dui ut, ac dui ligula, pulvinar a ante purus vestibulum
                    eros
                    semper. </p>
            </article>
        </section>
    </body>

</html6