<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="tmpl_css/global_settings.css">
    <link rel="stylesheet" href="tmpl_css/tmpl_card_fact.css">
    <title>Document</title>
</head>

<body class="global-settings">

    <section class="card-fact">
        <h1 class="card-fact-headline">
            <p>Fakta om Roskilde Tekniske Skole</p>
        </h1>
        <section class="card-fact-body">
            <p>
                Lorem ipsum dolor sit amet, etiam leo praesent sed in, tortor maecenas ut suspendisse conubia
                suscipit,
                suspendisse id odio porttitor ut nulla. Quis luctus id elit maecenas, est suspendisse id, vitae
                nulla
                vestibulum mattis, nibh nibh varius, id et leo. Justo accumsan molestie ac lorem. Elementum accumsan
                purus, integer pellentesque integer fuga quisquam, fusce et, aenean dui purus est, enim fringilla.
                Nec
                tempus id nulla vel. Pede quis sociosqu, dui ut, ac dui ligula, pulvinar a ante purus vestibulum
                eros
                semper. Arcu vehicula feugiat pulvinar.
            </p>
            <ul>
                <li>3256 Blandit felis mattis</li>
                <li>26 Mi vulputate maecenas</li>
                <li>85 Egestas mollis blandit et</li>
                <li>78 Ut platea condimentum</li>

            </ul>
        </section>
    </section>
</body>

</html>