<!DOCTYPE html>
<html lang="da">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="tmpl_css/global_settings.css">

    <link rel="stylesheet" href="tmpl_css/tmpl_card_featured.css">




    <title>Document</title>
</head>

<body class="global-settings">

    <section class="card-feat">
        <article>
            <h1 class="card-feat-top">
                <p>Månedens skole</p>
            </h1>
            <section class="card-feat-img"></section>
            <h2 class="card-feat-headline">
                <p>Bliv webudvikler på Roskilde Tekniske Skole</p>
            </h2>
            <section class="card-feat-body">
                <p>
                    Lorem ipsum dolor sit amet, etiam leo praesent sed in, tortor maecenas ut suspendisse conubia
                    suscipit, suspendisse id odio porttitor ut nulla. Quis luctus id elit maecenas, est suspendisse id,
                    vitae nulla vestibulum mattis, nibh nibh varius, id et leo. Justo accumsan molestie ac lorem.
                    Elementum accumsan purus, integer pellentesque integer fuga quisquam.

                </p>
                <div class="global-card-redbutton">
                    <a href="#">
                        <p>
                            LÆS MERE
                        </p>
                    </a>
                </div>
            </section>

        </article>
    </section>


</body>

</html>