<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="tmpl_css/global_settings.css">
    <link rel="stylesheet" href="tmpl_css/global_footer.css">

    <title>Document</title>
</head>

<body>
    <footer class="global-footer">
        <section class="global-footer-setup">
            <div class="global-footer-address">
                <p class="global-footer-top">Kontakt os:</p>
                <ul>
                    <li>address 1</li>
                    <li>address 2</li>
                    <li>address 3</li>
                </ul>
            </div>

            <div class="global-footer-some">
                <span><img src="tmpl_img/insta.svg" height="24px" width="24px"></span>
                <span><img src="tmpl_img/twitter.svg" height="24px" width="24px"></span>
                <span><img src="tmpl_img/facebook.svg" height="24px" width="24px"></span>
            </div>
        </section>
        <section class="global-footer-setdown">
            <div class="global-footer-copyright"> © 2021 XYZ Web Design</div>
        </section>


    </footer>
</body>

</html>