<!DOCTYPE html>
<html lang="da">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="tmpl_css/global_settings.css">
    <link rel="stylesheet" href="tmpl_css/global_header.css">
    <link rel="stylesheet" href="tmpl_css/tmpl_dropmenu_ref.css">

    <title>Document</title>
</head>

<body class="global_settings">

    <header class="global-header">
        <img class="global-header-img" src="tmpl_img/dinudd_logo.png">
        <section class="dropmenu">
            <div class="menu">
                <p>menu
                    <img src="tmpl_img/dots.svg" height="12px" width="12px">
                </p>
                <ul class="listen">
                    <li><a href="#">item 1</a></li>
                    <li><a href="#">item 2</a></li>
                    <li><a href="#">item 3</a></li>
                    <li><a href="#">item 4</a></li>
                </ul>
            </div>
        </section>
    </header>


</body>

</html>