<!DOCTYPE html>
<html lang="da">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="tmpl_css/global_settings.css">
    <link rel="stylesheet" href="tmpl_css/tmpl_hero.css">




    <title>Document</title>
</head>

<body class="global-settings">

    <section class="hero">
        <div class="hero-text">
            En flod kaldet Viden flyder forbi
        </div>
        <div class="positionator">
            <form class="form-container" action="">
                <img class="hero-lup" src="tmpl_img/lup.svg" alt="">
                <input type="search" name="some-search" id="hero-search">
            </form>
        </div>

    </section>

</body>

</html>